<br><br>

<div class="container">
    <div class="row">
        <form class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" id="damos-form" placeholder="e.g. FantasticUsernameBro" >
                <br/>
                <label>Password</label>
                <input type="text" class="form-control"  placeholder="e.g. 12345">
            </div>
            <button ng-click="login()" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
