<br><br>
<div class="login-image"></div>
<div class="container login-main col-md-4 col-md-offset-4">
    <h1 id="homepage-title">Welcome</h1>
    <div class="row login-form">
        <form >
            <div class="form-group">
                <input type="password" class="form-control" id="damos-form" placeholder="Username" ng-model="loginDetails.username">
                <br/>
                <input type="password" class="form-control"  placeholder="Password" ng-model="loginDetails.password">
            </div>
            <button id="login-button" ng-click="login()" class="btn btn-default">Submit</button>

                <br/>
                <br/>
                <p id="incorrect-pw" ng-show="wrongPassword">You have entered the wrong password or username.</p>
        </form>
    </div>

</div>
