<br><br>

<div class="container">
    <div class="row">
        <form class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Username</label>
                <input type="password" class="form-control" id="damos-form" placeholder="e.g. FantasticUsernameBro" ng-model="loginDetails.username">
                <br/>
                <label>Password</label>
                <input type="password" class="form-control"  placeholder="e.g. 12345" ng-model="loginDetails.password">
            </div>
            <button ng-click="login()" class="btn btn-default">Submit</button>

                <br/>
                <br/>
                <p style="color: red" ng-show="wrongPassword">You have entered the wrong password or username.</p>
        </form>
    </div>

</div>
