
<nav id="nav-parent" class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->

             <a id="brand" class="navbar-brand" href="#">H</a>

             <form class="col-md-4">
                <input type="text" class="form-control" id="damos-form" placeholder="Search Harambe" ng>
             </form>

            <button class="btn btn-2">Sign Up</button>
            <button class="btn btn-1">Log In</button>
    </div><!-- /.container-->
</nav>

<div ui-view>
</div>