
<br/>
<div class="container">
    <div class="row">
        <form id="user-input-field" class="col-md-6 col-md-offset-1">
                <input type="text" placeholder="Title" ng-model="entry.title">
                <textarea rows="5" cols="30" type="text" class="form-control" id="damos-form" placeholder="Write your thoughts here..." ng-model="entry.body"></textarea>
            <button ng-click="submit(entry)" class="btn btn-default">Submit</button>
        </form>
    </div>

    <br />

    <div class="row">
        <div id="comments" class="col-md-6 col-md-offset-1" >
            <div class="comment-container" ng-repeat="entry in entries | filter: searchText" ng-click="delete(entry)">
                <h1 ng-click="delete(entry)">{{entry.title}}</h1>
                <p>{{entry.body}}</p>
                <span style="float: right; padding: 10px">{{entry.time}}</span>
            </div>
        </div>
        <div id="about-me" class="">
            <h2>Damian Nolan</h2>
            <p>This is the best blog that has ever beeen created. I made it myself and it is so awesome that I don't know how to harmabe myself.</p>
        </div>
    </div>

</div>

<!--<div class="row">
        <form class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" id="damos-form" placeholder="e.g. Sean" ng-model="data.firstName">
                <br/>
                <label>Surname</label>
                <input type="text" class="form-control"  placeholder="e.g. King" ng-model="data.surname">
                <br/>
                <label>Age</label>
                <input type="number" class="form-control" placeholder="e.g. 23" ng-model="data.age">
            </div>
            <button ng-click="submit(data)" class="btn btn-default">Submit</button>
        </form>
    </div>

    <table class="table table-striped">
        <tr>
            <th ng-click="click()">Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
        </tr>
        <tr ng-repeat="result in results" ng-click="delete(result)">
            <td>{{result.firstName}}</td>
            <td>{{result.surname}}</td>
            <td>{{result.age}}</td>
        </tr>
    </table>-->